* {
    box-sizing: border-box;
    outline: 1px solid black;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
}