<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
  <!--載入GOOGLE FONT-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Shrikhand&display=swap"
    rel="stylesheet">
  <!--載入MATERIAL ICONS-->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <!--載入SWIPER-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>

<body>
  <%- include('./layout/header'); -%>

    <!--BANNER-->
    <div class="bg-primary-gradient pt-28 banner">
      <div class="container">
        <div class="banner-top d-flex flex-column flex-lg-row-reverse justify-content-between mb-lg-56">
          <div class="d-lg-flex flex-column justify-content-between">
            <p class="fw-bold mt-8 mb-32 text-start spacing-2 border-top border-light">ALPHABOX+ STUDIO</p>
            <p class="d-none d-lg-block fw-medium spacing-2">Copyright © 2023 Hexschool.</p>
          </div>
          <img class="alphabox-circle img-fluid mx-auto mb-32 mb-lg-0" src="../assets/images/square/circle.png"
            alt="alphabox logo">
          <div class="d-flex align-items-end">
            <p class="d-none d-lg-block fw-bold border-bottom border-light">最新消息！新版本 v15.4
              釋出，搶先體驗！</p>
          </div>
        </div>
        <!--MOBILE BANNER 標語-->
        <p class="d-block d-lg-none font-shrikhand fs-20 spacing-26 text-center">ALPHABOX+</p>
        <p class="d-block d-lg-none fw-bold spacing-5 text-center mb-32">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>

        <div class="row">
          <div class="col-12 col-lg-3 mb-16 position-relative">
            <p class="position-absolute font-shrikhand fst-italic fs-32 top-0 start-50 translate-middle-x pt-16">Diane
            </p>
            <img src="../assets/images/square/diane_square1.png" alt="diane-profile" class="w-100">
          </div>
          <div class="col-lg-6">
            <!--PC BANNER 標語-->
            <p class="d-none d-lg-block font-shrikhand fs-32 text-center">ALPHABOX+</p>
            <p class="d-none d-lg-block fw-bold spacing-2 text-center mb-32">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
            <div class="row">
              <div class="col-12 col-lg-6 mb-16 position-relative">
                <p class="position-absolute font-shrikhand fst-italic fs-32 top-0 start-50 translate-middle-x pt-16">
                  Felix
                </p>
                <img src="../assets/images/square/felix_square1.png" alt="felix-profile" class="w-100">
              </div>
              <div class="col-12 col-lg-6 mb-16 position-relative">
                <p class="position-absolute font-shrikhand fst-italic fs-32 top-0 start-50 translate-middle-x pt-16">
                  Karina
                </p>
                <img src="../assets/images/square/karina_square1.png" alt="karina-profile" class="w-100">
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 mb-32 position-relative">
            <p class="position-absolute font-shrikhand fst-italic fs-32 top-0 start-50 translate-middle-x pt-16">Vito
            </p>
            <img src="../assets/images/square/vito_square1.png" alt="vito-profile" class="w-100">
          </div>
        </div>
      </div>
    </div>

    <!--INTRODUCTION-->
    <div class="intro text-dark">
      <div class="container pt-32">
        <div class="intro-rectangle w-100"></div>
        <div class="border-bottom border-light">
          <p class="fw-bold fs-24 fs-lg-48 mt-16 mt-lg-8">什麼是</p>
          <p class="fw-bold fs-24 fs-lg-48 mt-8 mt-lg-12 mb-20 mb-lg-16">ALPHABOX+</p>
        </div>
        <div class="d-lg-flex">
          <span class="material-symbols-outlined d-none d-lg-inline-block">
            line_start_arrow_notch
          </span>
          <div class="position-relative">
            <div class="position-absolute bottom-0 d-lg-flex flex-column align-items-end">
              <p class="font-shrikhand fs-64 fst-italic">01</p>
              <p class="fw-bold fs-24">立體投影技術</p>
              <p class="fw-bold mt-8 mb-16">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
            </div>
            <img src="../assets/images/mobile/alphabox-tech-d359f72a.png" alt="立體投影技術" class="intro-01 mb-32">
          </div>
          <span class="material-symbols-outlined d-none d-lg-inline-block">
            line_start_arrow_notch
          </span>
        </div>
        <div class="intro-rectangle w-100"></div>
      </div>
    </div>





    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>